{% set AGGRID_ID = grid.vars.id|replace({'-': '_'}) %}
{% set hasSearch = grid.vars.searchEnabled %}
{% set hasPaginationDropdown = grid.vars.pagination and grid.vars.paginationDropDown is not same as(null) and grid.vars.paginationDropDown|length > 0 ? grid.vars.paginationDropDown : false %}
{% if hasSearch or hasPaginationDropdown %}
	<div class="mb-1 aggrid-topbar">
		{% if hasSearch %}
			<input type="text" class="pull-left form-control input-small col-lg-3 col-xl-2  aggrid-quick-search"
				   placeholder="{{ 'stingersoft_aggrid.searchOoo'|trans({}, 'StingerSoftAggridBundle') }}"
				   id="{{ AGGRID_ID }}_search"/>
		{% endif %}
		<div class="col-lg-9 col-xl-10 aggrid-actions row">
			{% if hasPaginationDropdown %}
				<div class="form-group row col-lg-1 col-xl-2 aggrid-entries-per-page">
					<label class="col-6 col-form-label">{{ 'stingersoft_aggrid.pagination.entries_per_page'|trans({},'StingerSoftAggridBundle') }}</label>
					<div class="col-6">
						<select class="form-control input-xsmall" id="{{ AGGRID_ID }}_paginationDropdown">
							{% set currentPageSize = grid.vars.paginationPageSize|default(false) %}
							{% set currentPageSizePrinted = currentPageSize != false ? false : true %}
							{% set needToRenderCurrentPageSize = not (currentPageSize in grid.vars.paginationDropDown) %}
							{% for entry in grid.vars.paginationDropDown %}
								{% if needToRenderCurrentPageSize and not currentPageSizePrinted and currentPageSize != false and entry > currentPageSize %}
									<option value="{{ currentPageSize }}"
											selected="selected">{{ currentPageSize }}</option>
									{% set currentPageSizePrinted = true %}
								{% endif %}
								<option value="{{ entry }}"
										{% if entry == currentPageSize %}selected="selected"{% endif %}>{{ entry }}</option>
								{% if needToRenderCurrentPageSize and not currentPageSizePrinted and currentPageSize != false and entry == currentPageSize %}
									{% set currentPageSizePrinted = true %}
								{% endif %}
							{% endfor %}
							{% if needToRenderCurrentPageSize and not currentPageSizePrinted and currentPageSize != false %}
								<option value="{{ currentPageSize }}" selected="selected">{{ currentPageSize }}</option>
							{% endif %}
							<option value="999999999">{{ 'stingersoft_aggrid.selectAll'|trans({}, 'StingerSoftAggridBundle') }}</option>
						</select>
					</div>
				</div>
			{% endif %}
			{% if grid.vars.reloadButton or grid.vars.clearFilterButton or grid.vars.autosizeColumnsButton %}
				<div class="aggrid-action-buttons">
					{% if grid.vars.autosizeColumnsButton %}
						<a href="javascript:void(0);" class="btn btn-default btn-icon aggrid-autosize"
						   id="{{ AGGRID_ID }}_autosize" data-toggle="tooltip"
						   title="{{ 'stingersoft_aggrid.autosizeAllColumns'|trans({},'StingerSoftAggridBundle') }}">
							<i class="far fa-fw fa-text-width"></i>
						</a>
					{% endif %}
					{% if grid.vars.reloadButton %}
						<a href="javascript:void(0);" class="btn btn-default btn-icon aggrid-reload"
						   id="{{ AGGRID_ID }}_reload" data-toggle="tooltip"
						   title="{{ 'stingersoft_aggrid.refresh'|trans({}, 'StingerSoftAggridBundle') }}">
							<i class="fas fa-fw fa-sync"></i>
						</a>
					{% endif %}
					{% if grid.vars.clearFilterButton %}
						<a href="javascript:void(0);" class="btn btn-default btn-icon aggrid-clear"
						   id="{{ AGGRID_ID }}_clear" data-toggle="tooltip"
						   title="{{ 'stingersoft_aggrid.clearFilter'|trans({},'StingerSoftAggridBundle') }}">
							<i class="far fa-fw fa-trash"></i>
						</a>
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="clearfix"></div>
	</div>
{% endif %}