{%- spaceless -%}
	{% if tooltipWrap == -1 %}{% set tooltipWrap = max %}{% endif %}
	{% if tooltipMax == -1 %}{% set tooltipMax = max %}{% endif %}
	{% if max != -1 and value and value|length > max %}
		{% if wrap == -1 %}{% set wrap = max %}{% endif %}
		{% set originalValue = wrap ? valueCleansed|wordwrap(wrap) : valueCleansed %}
		{% set tooltipValue = tooltipMax > 0 and value|length > tooltipMax ? value|truncate(tooltipMax) : value %}
		{% set tooltipValue = tooltipWrap ? value|wordwrap(tooltipWrap) : tooltipValue %}
		<div class="abridgedStringCell {% if fullscreen %}normalscreen{% endif %}"
			 title="{{ nl2br ? tooltipValue|nl2br|raw : tooltipValue|raw }}"
			 data-toggle="tooltip" data-html="true" data-container="{{ container }}">
			{{ originalValue|truncate(max)|raw }}
		</div>
		{% if fullscreen %}
			<div class="abridgedStringCell fullscreen">
				{{ nl2br ? originalValue|nl2br|raw : originalValue|raw }}
			</div>
		{% endif %}
	{% else %}
		{{ nl2br ? valueCleansed|nl2br|raw : valueCleansed|raw }}
	{% endif %}
{%- endspaceless -%}
